*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.6s;
	font-family: cursive,sans-serif,serif;

}
.navbar{
	background-image: linear-gradient(to right,rgb(121, 46, 182),rgb(175, 60, 166))!important;
		
}
.whole{
	background-image: linear-gradient(to right,rgb(121, 46, 182),rgb(175, 60, 166));
	
}
.large{
	font-size: 250%;
}
.navbar-nav li{
	padding: 6px 18px;
}

.services{
	height: 100%;


}
.swipper-parent{
	height: 100vh;
	
}
.x{
	width: 80px;
}
.content ul li{
	list-style-type: circle;
	list-style-position: outside;
z-index: 8px;
font-size: 110%;
font-weight: bold;
}
.content ul{
	margin-left: 10px;
}

*::selection{
	background-color: orchid;
}
.xi li{
 margin-top: 1%;
margin-bottom: 1%;
}
.head-title{
	margin-top:110px; color: white;
}

.below{
	text-align: start; 
}
.fullheight{
	height: 100%;
}
.translate{
	transform: perspective(1000px) translate3d(2px);
}
.carousel-inner img {
    width: 50%;
    height: 50%;
  }
 
	.backg{
		background: url(../startup-593341_1920.jpg) no-repeat fixed;
		background-size: cover;
		height: 100vh;
		

	}
.box {
	background-color: #000;
	opacity: 0.6;
	width: 80%;
	height: 80%;
	display: flex;
	padding-left: 8px;
	border-radius: 8px;
	padding-right: 8px;
	position: relative;
	justify-content: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	text-align: center
  /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
	text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
	text-align: center;
	
}
.st {

	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,50%);

}
.nd{
	
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translate(-50%,50%);
	
}
.rd{

	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/* .box .container form input[type=button]{
	position: absolute;
	top: 80%;

left: 50%;
	padding: 5px 80px;
	transform: translate(-50%,50%);
} */
.waves{
	width: 100%;
	height: 20vh;
	
	background-image: linear-gradient(to right,rgb(121, 46, 182),rgb(175, 60, 166))!important;
}
.box .container  h2{
	color: white;

	border-bottom: 2px solid #33cc33;
}


label i{
	color: white;
}


@media (max-width:768px){
	.head-title{
		margin-top: 20px;
	}
	*{
		font-size: 1.020rem;
	}
	.lh{
		margin: 0;
	}
	
	
}
@media(max-height:526px){
	#btn{
		margin: 0px;
	}
}
label{
	color: white;
}
.mn{
	margin-top: 25px;
}
@media(max-width:296px){
	.box{
		opacity: 1;
		background: none;
		color: #000;
		width: 100vh;
		height: 100vh;
	}
	.swiper-slide {
		height: 350px!important;
		width: 250px!important;
	}
	.backg{
		color: #000;
		background: none;
	}
	.mn{
		margin: auto;
	}
	.lh h2{
		color: black!important;
	}
}
@media(max-width:238px){
	.swiper-slide {
		height: 320px!important;
		width: 200px!important;
	}
}
@media(max-height:499x){
	.backg{
		color: #000;
		background: none;
	}
	.lh h2{
		color: black!important;
	}
	.box{
		color: #000;
		opacity: 1;
		background: none;
		width: 100vh;
		height: 100vh;
	}
	.mn{
		margin: auto;
	}
	.swiper-slide {
		height: 350px!important;
		width: 250px!important;
	}
}
@media(min-width:296px){
	.focu:focus{
		outline: none!important;
	background: none;
	}
	.focu{
		color: white;
		border: none;
	
			border-bottom: 2px solid #33cc33!important;
		background: none!important;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	}
}
@media(min-height:499px){
	.focu:focus{
		outline: none!important;
	background: none;
	}
	.focu{
		color: white;
		border: none;
	
			border-bottom: 2px solid #33cc33!important;
		background: none!important;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	}
}
.html{
	width: 100%;
	height: 100%;
}
.m{

	
}
